<p class="toolbar">
  <mat-toolbar color="warn">
    <span class="title-app">Papiro Reviews</span>
    <span>Home</span>
    <span>Categorias</span>
    <span>My Books</span>
    <span>About</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>


<router-outlet></router-outlet>
