<div class="forms-container">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input required matInput formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="form-group">
                    <button [disabled]="loadingLogin || loginForm.invalid" class="btn btn-primary" (click)="login()">
                        <span *ngIf="loadingLogin" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>

                </div>
            </form>
        </div>
    </div>
    
    <div class="card">
        <h4 class="card-header">Criar Conta</h4>
        <div class="card-body">
            <form [formGroup]="registerForm">
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input required matInput formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Apelido</mat-label>
                    <input required matInput formControlName="lastName">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input required matInput formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    
                </mat-form-field>
                <div class="form-group">
                    <button [disabled]="loadingRegister || registerForm.invalid" class="btn btn-primary" (click)="register()">
                        <span *ngIf="loadingRegister" class="spinner-border spinner-border-sm mr-1"></span>
                        Criar
                    </button>

                </div>
            </form>
            <div *ngIf="registed">
                <h2>Erro: Username já criado! Escolha outro</h2>
            </div>
        </div>
    </div>

</div>
