

.search-box-container {
    display:flex;
    align-items: center;
    position: fixed;
    top: 45px;
    width: 30%;
    height: 40px;
    left: 35%;
    text-align: center;
    background-color: white;
    
}

.search-box {
    width: 100%;
    border-style: none;
    outline: none;
}


.search-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.search-button {
    display: flex;
}

.search-button-container {
    display: inline-block;
}