<div class="block-wrap">
  <div class="block-header">
      <h2 class="block-title">Top Livros</h2>
  </div>
  
  <div class="cards-container">
    <a *ngFor="let book of books | async" routerLink="/book/{{book._id}}">
      <div class="card">
        <div class="card-img-container">
          <img src={{book.cover}} alt="" class="card-img">
        </div>
        <div class="card-info">
          <span style="font-weight: 500; color: black;">{{book.title}}</span>
          <p style="color: rgb(173, 173, 173)">{{book.author}}</p>
          <ngb-rating [(rate)]="currentRate" [max]="5" [readonly]="true" style="color: #FFC107; font-size: 30px;"></ngb-rating>
        </div>
      </div>

    </a>

  </div>

</div>
