<div class="block-wrap">
    <div class="block-header">
        <h2 class="block-title">Livro - Detalhes</h2>
    </div>
    
    <div class="cards-container" *ngIf="book">

        <div class="book-cover-container">
            <img src={{book.cover}} alt="" class="book-cover">
        </div>

        <div class="book-info">
            <div class="book-title">
                <p>Titulo : {{book.title}}</p>
            </div>
    
            <div class="book-author">
                <p>Autor : {{book.author}}</p>
            </div>

            <div class="book-rate">
                <p>Rate this book: </p>
                <ngb-rating [(rate)]="rate" [max]="5" [readonly]="blocked" style="color: #FFC107; font-size: 30px;"></ngb-rating>
                <div *ngIf="user">
                    <button *ngIf="!blocked" (click)="block()">Bloquear</button>
                    <button *ngIf="blocked" (click)="unblock()">Desbloquear</button>
                    <button (click)="avaliar()">Avaliar</button>

                </div>
                
            </div>

        </div>
  
    </div>
  
  </div>
