/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html { height: 100%; }
body {
    min-height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #e3eefd;
    display: flex;
    flex-direction: column;
}

app-root {
    min-height: 100% !important;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 50px;
    
  
  }
  
  .copyright {
    text-align: center;
    color: black;
  }

  .red-snackbar{
    background-color: rgb(153, 50, 50);
    color:lightgoldenrodyellow;
  }

  .green-snackbar{
    background-color: rgb(6, 160, 1);
    color:lightgoldenrodyellow;
  }