<div class="container">
    <div class="form-container">
        <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Titulo do Livro</mat-label>
                <input required matInput formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Autor</mat-label>
                <input required matInput formControlName="author">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>ISBN</mat-label>
                <input required matInput formControlName="isbn">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Categorias</mat-label>
                <mat-select multiple >
                  <mat-select-trigger>
                    {{toppings.value?.[0] || ''}}
                    <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                      (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="choose-container">
                <label for="arquivo" id="choose">
                    <mat-icon>add_photo_alternate</mat-icon>
                    Escolher Capa
                </label>
                <input type="file" formControlName="cover" name="cover" accept="image/jpeg" (change)="onChange($event)" id="arquivo">
            </div>
        
        </form>
        <div class="submit-box">
            <button (click)="onSubmit()" [disabled]="btnState || form.invalid">Adicionar</button>
        </div>
    </div>
    <div class="img-display">
        <img [src]="imageUrl" id="cover">
    </div>
</div>

